.disabled-calendar {
	color: gray;
	opacity: 0.5;
	pointer-events: none;
}

.disabled-calendar img {
	opacity: 0.5;
}
/*.disabled-calendar h3{
    content: 'fg'
  visibility: hidden;
}*/

/********* Matriz de cambios 07/04/2021********/
/* Cetrar texto de bienvenida antes de logeo */
@media (max-width: 575px) {
	section > div.formatoParrafo {
		text-align: justify;
		font-size: 14px;
	}

	/* section > div.formatoParrafo > ul > li {
		margin-right: 50px;
	} */
}
