
/*---------------------------PDF Tabla*---------------------------*/
.PDFtencabezado {
    background-color: #009490;
    color: #fff;
    /*border: 1px solid #009490 !important;*/
/*    text-align: center;*/
}
.PDFtcuerpo {
    border: 1px solid #009490 !important;
    text-align: center;
    /*margin: 0;*/
}

.PDFtfirmas {
    text-align: center;
    font-size: 12pt;
    margin: 0 auto;
}

.thFirma {
    text-align: center;
    margin-bottom: 0px;
}
.tdFirma {
    margin-top: 1px;
    color: black;
}
.PDFtable {
    font-family: "sans-serif";
    width: 100%;
}

.PDFtitulo {
    text-align: center;
}

/**Ocultar la fila en desktop */
.cambiar_filas_head_mobile{
    display: none;
}
.Qr_acta{
    text-align: right;
}

.lower_case{
    text-transform:lowercase;

}
.capitalize{
    text-transform: capitalize;

}
.letra{
    font-size: large;
}


.text-center {
    text-align: center !important;
}

td, th{
    padding: 1px;
    border-collapse:  initial;
}
table{
    text-align: center !important;
    font-size: small;
    width: 100%;
    /*margin: 30px;*/
    font-family: 'sans-serif';
    border-collapse:collapse; 

}
