.img_baner {
    display: flex;
    background-image: url("../../img/banner.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hijo {
    color: #fff;
    width: 25%;
    align-self: center;
    margin-left: 20%;
}
.titulo_principal {
    text-align: left;
}
.linea_link {
    text-decoration: revert;
}

.titulo-escritorio {
    position: absolute;
    top: 25%;
    color: #fff;
    width: 25%;
    align-self: center;
    margin-left: 20%;
}
.banner{
    display: flex;
}
.cardlogin {
    background-color: rgba(255,255,255,0.9);
}

.fondo {
    background-image: url("../..//historial_academico_fondo_login.png");
    background-position: center;
}
.naranja {
    background-color: #f26e50;
    margin: 2rem;
}
.letra_naranja {
    color: #f26e50;
}

.mobile {
    display: none;
}
.titulo_historial {
    /*background: #465872;
    color: #fff;*/
    width: 100%;
    margin: 4rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.boton_pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.obtener {
    background: #e76969;
    color: #fff;
}
.obtener:hover {
    background: coral;
    color: #fff;
}
/*Convertir a mayusculas*/

.mayusculas {
    text-transform: uppercase;
}
/* agrandar hamburguesa*/

.hamburguesa {
    font-size: x-large;
}

@media (max-width: 800px) {
    .hijo {
        display: none;
    }
    .mobile {
        display: inline-block;
    }
    .img_baner {
        background-image: url("../../img/historial_academico_iimagen_movil.png");
    }
    .titulo-escritorio {
        display: none;
    }
    .title_personales {
        font-size: 1.5em;
    }
    .titulo_historial {
        font-size: 1.5em;
    }
    .generacion {
        margin: 10px;
    }
    .titulo_mobile {
        font-size: 11px;
        text-align: left;
    }
    .logo_mobile {
        max-width: -moz-available;
    }

    .alinear_footer {
        text-align: left;
    }
}

.olvidar_pass{
    text-decoration: solid;
    color: aliceblue;
}

@media (max-width: 1228px) {

    .titulo-escritorio {
        text-align: center !important;
        font-size: 30px;
    }

}

@media (max-width: 400px) {
    .img_logo {
        width: 352px;
    }
}
/*para que no se rompa el link del aviso */
a.link_aviso {
    overflow-wrap: break-word;
}

/*Tabla*/

.tencabezado {
    background-color: #009490;
    color: #fff;
    border: 1px solid #009490 !important;
    text-align: center;
}
.tblancoencabezado {
    border: 1px solid #009490 !important;
    height: 3rem;
    padding: 1rem !important;
    text-align: center;
}
.tcuerpo {
    border: 1px solid #009490 !important;
    text-align: center;
}
.tblanco {
    height: 2rem;
    border: #fff !important;
}
/*---------------------------PDF Tabla*---------------------------*/
.PDFtencabezado {
    background-color: #9F2241;
    color: #fff;
    border: 1px solid #9F2241 !important;
    text-align: center;
}
.PDFtcuerpo {
    border: 1px solid #9F2241 !important;
    text-align: center;
    margin: 0;
}

.PDFtfirmas {
    /*border: 1px solid black !important;*/
    text-align: center;
    font-size: 12pt;
    margin: 0 auto;
}

.thFirma {
    text-align: center;
    margin-bottom: 2px;
    /*border: 1px solid #009490 !important;*/
}
.tdFirma {
    margin-top: 1px;
    /*background: #009490;*/
    /*	border: 1px solid #009490 !important;*/
    color: black;
}

.PDFirmas {
    /*	position: absolute;
            bottom: 0;
            left: 0;*/
}
.PDFtable {
    font-family: "sans-serif";
    width: 100%;
}

.PDFtitulo {
    text-align: center;
}
aside {
    position: fixed !important;
}

/**Ocultar la fila en desktop */
.cambiar_filas_head_mobile{
    display: none;
}
.Qr_acta{
    text-align: right;
}

.lower_case{
    text-transform:lowercase;

}
.capitalize{
    text-transform: capitalize;

}
.letra{
    font-size: large;
}
.alinear_izquierda{
text-align-last: left;
}
.alinear_derecha{
text-align: right;
}

/********* Matriz de cambios 07/04/2021********/
/* Cetrar texto de bienvenida antes de logeo */
@media (max-width: 575px) {
    section > div.formatoParrafo {
        text-align: center;
    }

    /**
    ** Cambiar a filas los calendarios en mobile la parte de head
    */

    .cambiar_filas_head{
        display: none;
    }
    .cambiar_filas_head_mobile{
        display: block;
    }
}



/*-------------------------------------------verificacion de contrasenis*/

.confirmacion{
    color:green;
}
.negacion{
    color:red;
}

