/*Matriz de cambios 08 06 2021 
*Pantalla de bienvenida 
*/

.engrane{
    padding: 2rem;
    margin: 0 1rem;
    background-color:rgba(2,59,73,0.5);
    border: 17px solid;
    border-color:rgba(0,146,136,0.3);
    border-radius: 1rem;
}

.title_engrane{
    padding: 2rem;
    margin: 0 1rem;
    background-color:rgba(2,59,73,0.5);
    border: 17px solid;
    border-color:rgba(0,146,136,0.3);
    border-radius: 1rem;
}

/* esto pone el fondo en el login*/
#banner_admin{
    background-image: url("../../img/banner.jpg");    
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
}

/*Login admin*/

.login_admin_h1{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    padding: 0;
    font-weight: bold;
    color: #454545;
}

.alert_login_error{
    background-color:#f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

.icono_login{
    background-color:#f2f2f2;
    color:#454545;
}

/**
*Estilos de datatable botones y paginación
*/
.color_excel{
    color:#28a745!important;

}

.color_pdf{
    color:#dc3545!important;
    
}

.color_imprimir{
    color:#6c757d!important;
    
}

.btn-group, .btn-group-vertical{
    position: absolute !important;

}

/*
* Baner_admin
*/

.img_baner{
    background-image: url("../../img/banner.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor-banner{
    max-width: 900px;
    padding: 4rem 2rem;
}
.text-banner{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}
@media only screen and (max-width: 768px) {
    .text-banner{
        text-align: center;
    }
}
.img-personajes{
    max-width: 50%;
}

.naranja_link:hover{
    background-color: #f26e50 !important;
}

/**
** Esta parte es para los estilos de la paginación
**/

/*Botones inactivos sin hover*/
a.paginate_button, current{
    background-color: white !important;
    color: #009288 !important; 
}


/* Boton que esta activo*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    border: 3px solid #979797 !important;
    background-color:  #009288 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,  #009288), color-stop(100%,  #009288)) !important;
    background: -webkit-linear-gradient(top,  #009288 0%,  #009288 100%) !important;
    background: -moz-linear-gradient(top,  #009288 0%,  #009288 100%) !important;
    background: -ms-linear-gradient(top,  #009288 0%,  #009288 100%) !important;
    background: -o-linear-gradient(top,  #009288 0%,  #009288 100%) !important;
    background: linear-gradient(to bottom,  #009288 119%,  #009288 78%) !important;
}




.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #898d8d !important;
    border: 3px solid #898d8d !important;
    background-color: white !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white)) !important;
    background: -webkit-linear-gradient(top, white 0%, white 100%) !important;
    background: -moz-linear-gradient(top, white 0%, white 100%) !important;
    background: -ms-linear-gradient(top, white 0%, white 100%) !important;
    background: -o-linear-gradient(top, white 0%, white 100%) !important;
    background: linear-gradient(to bottom, white 0%, white 100%) !important;
}



/**
* Estilos para paginación centrar
*/



.dataTables_wrapper .dataTables_info {
    margin-left: 30%;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    margin-right: 25%;
}
@media (max-width: 500px) {
    .dataTables_wrapper .dataTables_info {
        margin-left: 2% !important;
    }   
}

@media (max-width: 500px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        margin-right: 12%;
    } 
}

@media (max-width: 401px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        margin-right: 2%;
    } 
}

@media (max-width: 900px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        margin-right: 12%;
    } 
}

@media (max-width: 1024px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        margin-right: 29%;
    } 
}
/*Termina datatable*/

/**Mosaicos*/

.mosaico{
    display: inline-block;
    min-width: 270px;
    max-width: 270px;
    padding: 1.5rem;
    margin: 1rem;
    border: #009288 3px solid;
    border-radius: 0.5rem;
    text-align:left;
   
}

.h2_mosaico{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.letra_boton{
    color: white;
}

/**
*Profesores admin
*/

.boton_ver_profe{
    background-color: #009288;
    color: white;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
}

.boton_admin_llave{
    border: #009288 3px solid;
    background-color: white;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    color: #009288;
}

/*Tabla de frectificación*/

.tabla_rectificar{
    margin-bottom: 3rem;
    border: 1px solid #898d8d;
}

.btn_turquesa{
    background-color: #009288;
    font-weight: bold;
    color: white;
    display: block;
}

.regresar_admin{
    margin-right: 0.6rem;
    font-weight: bold;
    color: #f26e50;
    text-decoration: underline #f26e50;
}

/*Estilos para dstos personales en jefe de carrera*/

.color_modal_personales{
    background-color: #e6f5f4;
    border: 2px solid #009288;
    padding: 3rem 2rem;
    border-radius: 10px 10px 10px 10px;
}


/**
** Estilos para teacher
*/

.hr_teacher{
    border: 1px solid #898d8d;
    margin:4rem 0;
}

.mosaico_prof{
    display: inline-block;
    min-width: 270px;
    max-width: 270px;
    padding: 1.5rem;
    margin: 1rem;
    border:  #f26e50 3px solid;
    border-radius: 0.5rem;
    text-align:left;
   
}

.h2_mosaico_prof{
    font-size: 1.1rem !important;
    color: #454545 !important;
    font-weight: bold !important;
}

.mosaico_prof_rectificacion{
    display: inline-block;
    min-width: 270px;
    max-width: 270px;
    padding: 1.5rem;
    margin: 1rem;
    border:  #f26e50 3px solid;
    background-color: #fce7e6;
    border-radius: 0.5rem;
    text-align:left;
}

.h2_mosaico_prof_r{
    font-size: 1.1rem !important;
    color: #454545 !important;
    font-weight: bold !important;
}

/* Estilos de Calendario */


.alert-calendar{
    background-color:#f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    margin-bottom:3rem;
    padding: 1.5rem;
    font-size: 1.5rem;
}

/*Color tabla calendario*/

.color_calendar_table{
    background-color: #e6f5f4;
}

.btn-calendario{
    background-color: #009288;
    border: solid 3px #009288;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    color: white;
}

.btn-regresar-calendary{
    margin-right: 0.6rem;
    color: #f26e50;
}

/*Dashboard de profe*/

.tabla_profes_calis{
    background-color: #e6f5f4;
}


/**
* Cambiar estilo a input de archivos
*/

.custom-input-file {
    background-color: #009288;
    color: #fff;
    cursor: pointer;
    
    font-weight: bold;
    margin: auto ;
    margin-top: 2rem;
    overflow: hidden;
    
    position: relative;
    text-align: center;
    
  }
  
  .custom-input-file .input-file {
   border: 1px solid transparent;
   cursor: pointer;
   
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   
  }

  .boton_ver{
      background-color: #009288;
      color: white;
  }

  .subrayar{
      text-decoration: underline;
  }


  /*redondear input de datatable */

  .dataTables_wrapper .dataTables_filter input {
    border-radius: 8px;
    border-style: solid;
    border-color: #b5b5b5;
}


/*Estilos para la vista de fei*/

.mosaico_fei{
    display: inline-block;
    min-width: 280px;
    max-width: 280px;
    padding: 1.5rem;
    margin: 1rem;
    
    border-radius: 0.5rem;
    text-align:center;
   
}

.hr_fiel{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.img_qr_ime{
    
}